%h1 管理者

%ul
  %li.mt-2
    = link_to "商品一覧", admin_products_path, class: "btn btn-primary"
  %li.mt-2
    = link_to "ユーザ一覧", admin_users_path, class: "btn btn-primary"
  %li.mt-2
    = link_to "管理者ログアウト", destroy_admin_session_path, class: "btn btn-primary", method: :delete
