= content_for(:html_title) { '買い物' }

.row.mt-2
  - @products.each do |product|
    .col-md-4
      .shadow-sm.rounded.bg-white
        .row
          .col.px-4.pt-2
            - if product.image_url.presence
              = link_to image_tag(product.image_url(:thumb), class: "product-image"), product
            - else
              %p イメージなし
        .row.m-2
          .col.px-4
            %p
              = product.name
